Final Recurrence\Assets\Animations
\Assets\Animations
app.info
boot.config
globalgamemanagers
globalgamemanagers.assets
level0
Library/AnnotationManager
Library/ArtifactDB-lock
Library/BuildPlayer.prefs
Library/BuildSettings.asset
Library/CurrentLayout-default.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/da.js
Library/EditorOnlyScriptingSettings.json
Library/EditorOnlyVirtualTextureState.json
Library/EditorSnapSettings.asset
Library/EditorUserBuildSettings.asset
Library/expandedItems
Library/InputUserSettings.json
Library/InspectorExpandedItems.asset
Library/LastBuild.buildreport
Library/LastSceneManagerSetup.txt
Library/LibraryFormatVersion.txt
Library/MonoManager.asset
Library/PackageChecked
Library/SceneVisibilityState.asset
Library/ScriptMapper
Library/ShaderCache.db
Library/SourceAssetDB-lock
Library/SpriteAtlasDatabase.asset
Library/StateCache/LayerSettings/9e/9ecc5c3c162a7aba29bafa64c8b94b7c.json
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/PrefabStageHierarchy/08/081e416cead52891539217003f96bcfc.json
Library/StateCache/PrefabStageHierarchy/13/133be66da8d1195dfb369f8579b71dbb.json
Library/StateCache/PrefabStageHierarchy/19/19744a640c56cb4651332c440bfd9d86.json
Library/StateCache/PrefabStageHierarchy/23/2393883106f82ac5b372f201d66bcd5f.json
Library/StateCache/PrefabStageHierarchy/25/25b405f10e024894efe52505968bc0f8.json
Library/StateCache/PrefabStageHierarchy/25/25cd39bb7510b4a9fd4f81a0fac1e4d0.json
Library/StateCache/PrefabStageHierarchy/29/29ab3846644e9a2a8811ac0120cd9ad3.json
Library/StateCache/PrefabStageHierarchy/2d/2d36d066d850da8f09c1a39e9cd30d10.json
Library/StateCache/PrefabStageHierarchy/41/41ff886b5768f1ac397c7694b559dc4f.json
Library/StateCache/PrefabStageHierarchy/48/4870a505093af84061feeb01dce3ea71.json
Library/StateCache/PrefabStageHierarchy/4c/4cc202ee0a3f05a62b158ea769a0b7d0.json
Library/StateCache/PrefabStageHierarchy/52/52a38d87258e45671e8f28e65958e27b.json
Library/StateCache/PrefabStageHierarchy/60/609469f0baecfea72ff5833e50b67891.json
Library/StateCache/PrefabStageHierarchy/61/61639e10514e156e4e5510cb44c061bf.json
Library/StateCache/PrefabStageHierarchy/72/72b33733b75d5c7ec20e36fd8de7c6b1.json
Library/StateCache/PrefabStageHierarchy/7b/7bd7902c0b0e93141849a547576b8f22.json
Library/StateCache/PrefabStageHierarchy/82/825ad818ecb06a2b164a53edcfeca6ff.json
Library/StateCache/PrefabStageHierarchy/83/834df2c40d2a7219fec02f7d51f9c4ae.json
Library/StateCache/PrefabStageHierarchy/85/8591447667f60768bbd198fd4d5a2af7.json
Library/StateCache/PrefabStageHierarchy/95/955f68174ffdf201f4ae7e7bbd64fa04.json
Library/StateCache/PrefabStageHierarchy/9e/9ee97cfba4d8541a6f54e1f944638345.json
Library/StateCache/PrefabStageHierarchy/9f/9fba7e6d3c0ec981c6c705c937b5604e.json
Library/StateCache/PrefabStageHierarchy/a1/a15f2015cf7b73dc6778112570f776f3.json
Library/StateCache/PrefabStageHierarchy/a3/a37a3e2a22a75c9c61ecebed402b63de.json
Library/StateCache/PrefabStageHierarchy/a5/a50906f41cc3028fdbd2251efe1173f6.json
Library/StateCache/PrefabStageHierarchy/a6/a645fae8ad276a6920793a1d97d1cb46.json
Library/StateCache/PrefabStageHierarchy/b1/b12b370df63b61cb1d4698969db6b982.json
Library/StateCache/PrefabStageHierarchy/bb/bb94a3e6119349ddd1d008f636ef6487.json
Library/StateCache/PrefabStageHierarchy/be/be926a47ebeb4f034103cf83077c5731.json
Library/StateCache/PrefabStageHierarchy/c5/c5823075e9a96662da52cf72e8d628b8.json
Library/StateCache/PrefabStageHierarchy/c9/c9f277510fb1e1a439ebcc948c183fbf.json
Library/StateCache/PrefabStageHierarchy/ca/cadbfe8d1bfca3a9b4206c80956146be.json
Library/StateCache/PrefabStageHierarchy/d1/d1406303b607e53370f24a953a8fe3c9.json
Library/StateCache/PrefabStageHierarchy/d7/d73d8ec5f953a71da976c702e7bc6691.json
Library/StateCache/PrefabStageHierarchy/d9/d97442afedbbccd2bd4f3e733992a2c3.json
Library/StateCache/PrefabStageHierarchy/f1/f1d2d44746e005a8a96eaef43895e16e.json
Library/StateCache/PrefabStageHierarchy/f6/f66c1add70a345a1f8899fccb9ee8636.json
Library/Style.catalog
Library/Timeline/0fa4ad83466754941a003a1aa2552313.pref
Library/Timeline/172b6dd99c935c84485929ceaa2f1306.pref
Library/Timeline/17e9017a5650b354ea9be125eccd86f7.pref
Library/Timeline/22e3d7ff202fbba4c8e38462746b8a3a.pref
Library/Timeline/2ada16b685235244eb498ff3b3f4371a.pref
Library/Timeline/2dbc930a36ceff94faa81e1e1ba6aa3b.pref
Library/Timeline/3aa0eb6f7e5caf64fb8c14817831ac5d.pref
Library/Timeline/5d2ae3082d880c14b9064affb4c9cff0.pref
Library/Timeline/6386d53834dcbd24db5cc22d39377d54.pref
Library/Timeline/672589b6982d8a14a9d2a6e1589cd445.pref
Library/Timeline/6c5e09a1e5dc41f49a11895d2a437d75.pref
Library/Timeline/6f60771b47e64874290e09f658174f0d.pref
Library/Timeline/7a1b7b332b6685842b34e505f24b25fa.pref
Library/Timeline/8b5b13b4156864f4aaf824667689f8d3.pref
Library/Timeline/8c8fd428625d3f84e91e94cacd9f4f9b.pref
Library/Timeline/a94a209233f68e6479e0a24b56360847.pref
Library/Timeline/bdaec6bd5d0b6c747970910ec27bfd28.pref
Library/Timeline/cb8925e4108732a4eb81425f7f326689.pref
Library/Timeline/cc02c8cd877100f4984c101a76c4c230.pref
Library/Timeline/e72cdeecf42414f4da230ae0ebbadebf.pref
Library/Timeline/f09fbf7ca695e5d4e989b77d714b41ec.pref
Library/Timeline/f8e8069cdbfdc3c46bbae58544bb3428.pref
Library/UIElements/EditorWindows/UnityEditor.PackageManager.UI.PackageManagerWindow.pref
LocalPackages/com.unity.render-pipelines.high-definition-config/CHANGELOG.md
LocalPackages/com.unity.render-pipelines.high-definition-config/CHANGELOG.md.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Documentation~/index.md
LocalPackages/com.unity.render-pipelines.high-definition-config/LICENSE.md
LocalPackages/com.unity.render-pipelines.high-definition-config/LICENSE.md.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/package.json
LocalPackages/com.unity.render-pipelines.high-definition-config/package.json.meta
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl
LocalPackages/com.unity.render-pipelines.high-definition-config/Runtime/ShaderConfig.cs.hlsl.meta
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/NavMeshComponents.csproj.AssemblyReference.cache
obj/Debug/NavMeshComponentsEditor.csproj.AssemblyReference.cache
obj/Debug/NavMeshComponentsExamples.csproj.AssemblyReference.cache
obj/Debug/NavMeshComponentsExamplesEditor.csproj.AssemblyReference.cache
obj/Debug/NavMeshComponentsTestsEditmode.csproj.AssemblyReference.cache
obj/Debug/NavMeshComponentsTestsPlaymode.csproj.AssemblyReference.cache
obj/Debug/Unity.InputSystem.RebindingUI.csproj.AssemblyReference.cache
obj/Debug/UnityEngine.InputSystem.Samples.UIvsGameInput.csproj.AssemblyReference.cache
obj/Release/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Release/build.force
obj/Release/NavMeshComponents.csproj.AssemblyReference.cache
obj/Release/NavMeshComponentsEditor.csproj.AssemblyReference.cache
obj/Release/NavMeshComponentsExamples.csproj.AssemblyReference.cache
obj/Release/NavMeshComponentsExamplesEditor.csproj.AssemblyReference.cache
obj/Release/NavMeshComponentsTestsEditmode.csproj.AssemblyReference.cache
obj/Release/NavMeshComponentsTestsPlaymode.csproj.AssemblyReference.cache
obj/Release/Unity.InputSystem.RebindingUI.csproj.AssemblyReference.cache
obj/Release/UnityEngine.InputSystem.Samples.UIvsGameInput.csproj.AssemblyReference.cache
Packages/manifest.json
Packages/packages-lock.json
UnityEditor/SceneManagement/PrefabStage.cs
*.meta
*.meta
Animations/0Thing.controller.meta
Animations/AniDorClF1.anim.meta
Animations/AniDorClF2.anim.meta
Animations/AnimationCanavas.anim.meta
Animations/AnimDoorFurnitureChase.anim.meta
Animations/animtxt.anim.meta
Animations/Audio.anim.meta
Animations/Audio.controller.meta
Animations/BatteryCanvas.anim.meta
Animations/BatteryCanvas.controller.meta
Animations/BatteryCanvasInstant.anim.meta
Animations/BatterySlider.anim.meta
Animations/bd1.anim.meta
Animations/BG 1.controller.meta
Animations/BG.anim.meta
Animations/BG.controller.meta
Animations/BG2.anim.meta
Animations/BildAnima.anim.meta
Animations/bl1.anim.meta
Animations/boat.anim.meta
Animations/Brickhouse_Door_A (4) 1.controller.meta
Animations/Brickhouse_Door_A (4).controller.meta
Animations/BrickHouse_Door_A.controller.meta
Animations/brute.controller.meta
Animations/Cabin2_Door_A.controller.meta
Animations/Cabin3.controller.meta
Animations/CabinDisable.controller.meta
Animations/Camera.anim.meta
Animations/Camera.controller.meta
Animations/CameraWell.anim.meta
Animations/CanavasMicrophone.anim.meta
Animations/CanavasMicrophoneFadeIn.anim.meta
Animations/CantLeaveCanvas.controller.meta
Animations/CantLeaveYetAnimation.anim.meta
Animations/Canvas 1.controller.meta
Animations/Canvas 2.controller.meta
Animations/Canvas.controller.meta
Animations/CanvasAnimations.anim.meta
Animations/CanvasItemPickedUp.controller.meta
Animations/CanvasObjective.controller.meta
Animations/CanvasObjectiveOff.anim.meta
Animations/CanvasObjectiveOn.anim.meta
Animations/Ch11_nonPBR.controller.meta
Animations/Ch45_nonPBR.controller.meta
Animations/ChangeAmbientMusicOnCollision (1).controller.meta
Animations/Chase2person.anim.meta
Animations/ChaseEsc2.anim.meta
Animations/ChaseEsc2Close.anim.meta
Animations/ClassroomDoor1Close.anim.meta
Animations/ClassroomDoor1Open.anim.meta
Animations/ClassroomDoor1Sudden.anim.meta
Animations/ClassroomDoor2Close.anim.meta
Animations/ClassroomDoor2Open.anim.meta
Animations/ClassroomDoor2Sudden.anim.meta
Animations/CloseChaseImg.anim.meta
Animations/CloseChaseImg.controller.meta
Animations/CloseDoor.anim.meta
Animations/CloseDoorVila1.anim.meta
Animations/CM vcam11 1.controller.meta
Animations/CM vcam11.controller.meta
Animations/CM vcam13.controller.meta
Animations/CM vcam14.controller.meta
Animations/CM vcam18.controller.meta
Animations/CM vcam19.controller.meta
Animations/CM vcam5.controller.meta
Animations/cmAnima.anim.meta
Animations/CmVcam1.anim.meta
Animations/cmvcam2.anim.meta
Animations/Crow.anim.meta
Animations/Cutscene.anim.meta
Animations/CutSceneDream.meta
Animations/CutSceneDream/Bg.anim.meta
Animations/CutSceneDream/BrickHouse_Door_A.controller.meta
Animations/CutSceneDream/Car (2).controller.meta
Animations/CutSceneDream/Car.anim.meta
Animations/CutSceneDream/Car.controller.meta
Animations/CutSceneDream/Car2.anim.meta
Animations/CutSceneDream/CarR.anim.meta
Animations/CutSceneDream/CarTimeline.playable.meta
Animations/CutSceneDream/Ch.controller.meta
Animations/CutSceneDream/ChM.anim.meta
Animations/CutSceneDream/CM vcam1.controller.meta
Animations/CutSceneDream/Cm1.anim.meta
Animations/CutSceneDream/CutSceneTimeline.playable.meta
Animations/CutSceneDream/Door.anim.meta
Animations/CutSceneDream/ExitCar.controller.meta
Animations/CutSceneDream/Flick.playable.meta
Animations/CutSceneDream/Flicker.anim.meta
Animations/CutSceneDream/Image 1.controller.meta
Animations/CutSceneDream/Image.controller.meta
Animations/CutSceneDream/Post.anim.meta
Animations/CutSceneDream/PostProcessing.controller.meta
Animations/CutSceneDream/Signal.meta
Animations/CutSceneLevel2.meta
Animations/CutSceneLevel2/CM vcam20.controller.meta
Animations/CutSceneLevel2/CutSceneHolLabirintTimeline.playable.meta
Animations/CutSceneLevel2/Ending1Timeline.playable.meta
Animations/CutSceneLevel2/Ending1TranzitionTimeline.playable.meta
Animations/CutSceneLevel2/FinalEnding1CollindersLightTimeline.playable.meta
Animations/CutSceneLevel2/SignalLight.signal.meta
Animations/CutSceneLevel2/VCam.anim.meta
Animations/CutSceneStart.meta
Animations/CutSceneStart/BG (1).controller.meta
Animations/CutSceneStart/Bgaa.anim.meta
Animations/CutSceneStart/BgFadeIn.anim.meta
Animations/CutSceneStart/Camera.anim.meta
Animations/CutSceneStart/CameraAnim.anim.meta
Animations/CutSceneStart/CM vcam1 1.controller.meta
Animations/CutSceneStart/CM vcam1.controller.meta
Animations/CutSceneStart/CutSceneTimelineMoto.playable.meta
Animations/CutSceneStart/FadeOut.controller.meta
Animations/CutSceneStart/I1.anim.meta
Animations/DestroyCabin.anim.meta
Animations/DisableLight.controller.meta
Animations/DooorCEscClose1.anim.meta
Animations/Door_1 1.controller.meta
Animations/Door_1.controller.meta
Animations/Door_R 1.controller.meta
Animations/Door_R 2.controller.meta
Animations/Door_R 3.controller.meta
Animations/Door_R 4.controller.meta
Animations/Door_R.controller.meta
Animations/DoorCEsc1.anim.meta
Animations/DoorCgase.anim.meta
Animations/DoorChase1.controller.meta
Animations/DoorChase2.controller.meta.anim.meta
Animations/DoorChase2Close.anim.meta
Animations/DoorClassroom.anim.meta
Animations/DoorClassroom1.anim.meta
Animations/DoorClassroomClose.anim.meta
Animations/DoorEnding1.anim.meta
Animations/DoorFinal.anim.meta
Animations/DoorFinal1.anim.meta
Animations/DoorOpenChase1Villa1.anim.meta
Animations/DoorParent (1).controller.meta
Animations/DoorParent.controller.meta
Animations/DoorSlowOpening.anim.meta
Animations/DragOpenedBox.anim.meta
Animations/Drawers.meta
Animations/Drawers/Drawer1Close.anim.meta
Animations/Drawers/Drawer1Open.anim.meta
Animations/Drawers/Drawer2Close.anim.meta
Animations/Drawers/Drawer2Open.anim.meta
Animations/Drawers/Drawer3Close.anim.meta
Animations/Drawers/Drawer3Open.anim.meta
Animations/Drawers/Drawer4Close.anim.meta
Animations/Drawers/Drawer4Open.anim.meta
Animations/Drawers/filing-cabinet-drawer (1).controller.meta
Animations/Drawers/filing-cabinet-drawer (2).controller.meta
Animations/Drawers/filing-cabinet-drawer (3).controller.meta
Animations/Drawers/filing-cabinet-drawer 1.controller.meta
Animations/Esc1Chase2.anim.meta
Animations/EscapeChase2.anim.meta
Animations/EscChase2.anim.meta
Animations/eye.controller.meta
Animations/FadeOutItemCanvas.anim.meta
Animations/Flashback1.anim.meta
Animations/Flashlight.anim.meta
Animations/Flashlight.controller.meta
Animations/FlashlightOn.anim.meta
Animations/FlashOffForest.anim.meta
Animations/FlashOnForest.anim.meta
Animations/FlashTest.anim.meta
Animations/FlashTestOff.anim.meta
Animations/Folder nou.meta
Animations/GameObject (1).controller.meta
Animations/GameObject.controller.meta
Animations/gate_left (1).controller.meta
Animations/gate_left.controller.meta
Animations/GateCimitir.anim.meta
Animations/GateCimitirOn.anim.meta
Animations/gatel1.anim.meta
Animations/Grande EcheLle (2).controller.meta
Animations/Health.anim.meta
Animations/Image 1.controller.meta
Animations/Image 2.controller.meta
Animations/Image 3.controller.meta
Animations/Image 4.controller.meta
Animations/Image 5.controller.meta
Animations/Image 6.controller.meta
Animations/Image 7.controller.meta
Animations/Image 8.controller.meta
Animations/Image.controller.meta
Animations/ImageAtttak.anim.meta
Animations/ImageChase.anim.meta
Animations/Intro.anim.meta
Animations/ItemCanvas.anim.meta
Animations/ItemCanvas.controller.meta
Animations/JumpScare10.anim.meta
Animations/JumpScare9.anim.meta
Animations/JumpscareClown1.anim.meta
Animations/LeaveLevel1.anim.meta
Animations/Letter1.anim.meta
Animations/Letter1.controller.meta
Animations/Level1.controller.meta
Animations/LevelLoader.controller.meta
Animations/LighFinal.anim.meta
Animations/LighFinalEnableLab.anim.meta
Animations/LightAnima.anim.meta
Animations/LightFinal1.anim.meta
Animations/LightTranz1.anim.meta
Animations/MainMenuCameraSetings.anim.meta
Animations/MicrophoneCanvas.controller.meta
Animations/minusSanity.anim.meta
Animations/Moto.anim.meta
Animations/New Animation.anim.meta
Animations/NotUsingFlashlight.anim.meta
Animations/Object070.controller.meta
Animations/Object097.controller.meta
Animations/Old Wooden Crate_vkgrchzga_Var1 1 (2).controller.meta
Animations/p1.controller.meta
Animations/PersonC.anim.meta
Animations/PersonC.controller.meta
Animations/PickedItemAnimation.anim.meta
Animations/PickupItemCanvas.anim.meta
Animations/PickupItemCanvas.controller.meta
Animations/PlayerObj 1.controller.meta
Animations/PlayerObj.controller.meta
Animations/Point Light 1.controller.meta
Animations/Point Light.controller.meta
Animations/PointANim.anim.meta
Animations/PostProcessing.controller.meta
Animations/pp.anim.meta
Animations/Prop_Chair_B 1.controller.meta
Animations/Prop_Chair_B 2.controller.meta
Animations/Prop_Chair_B.controller.meta
Animations/Prop_Chair_B_Sa il lasi asa mare.controller.meta
Animations/QuitAnimation.anim.meta
Animations/QuitAnimationClose.anim.meta
Animations/ReloadFlashlight.anim.meta
Animations/Rock_B (2).controller.meta
Animations/Rock_B.controller.meta
Animations/Rocks1.anim.meta
Animations/Running.anim.meta
Animations/s1.anim.meta
Animations/S2 (1).controller.meta
Animations/SanityCanvasFadeIn.anim.meta
Animations/SanitySystem.controller.meta
Animations/SanitySystemAppear.anim.meta
Animations/SanitySystemCanvas.controller.meta
Animations/SanitySystemCanvasGroup.controller.meta
Animations/SanitySystemFadeIn.anim.meta
Animations/SanitySystemFadeOut.anim.meta
Animations/SanitySystemTooltip 1.controller.meta
Animations/SanitySystemTooltip.controller.meta
Animations/SaveGame.anim.meta
Animations/SaveGame.controller.meta
Animations/SavingGame.anim.meta
Animations/sc.anim.meta
Animations/sc1.anim.meta
Animations/sc2.anim.meta
Animations/Scale.anim.meta
Animations/Scaund.anim.meta
Animations/UIRelated/PickedFlashlight.anim.meta
Animations/UIRelated/PickedFlashlight.controller.meta
health system/HealthSystem.cs
Scale.anim.meta
Scaund.anim.meta
Settings.anim.meta
SettingsBack.anim.meta
Shake.anim.meta
Shake1.anim.meta
SkipAnimationOff.anim.meta
SkipAnimationOn.anim.meta
SkipCutscene.controller.meta
soundSignal.signal.meta
SplashIcon.anim.meta
Stamina.anim.meta
StaminaOff.anim.meta
StaminaSlider.controller.meta
StartAnim.playable.meta
StartAnim0.anim.meta
StartAnim1.anim.meta
StartAnim1.controller.meta
StartAnim2.anim.meta
StartAnim2.controller.meta
Steps.anim.meta
Tcam.anim.meta
Test.anim.meta
Test1.anim.meta
Test2.anim.meta
Text (TMP) 1.controller.meta
Text (TMP) 2.controller.meta
Text (TMP).controller.meta
Text.controller.meta
TextBreathe.anim.meta
TextLevel.anim.meta
TextPuzzelTv.anim.meta
TrajCam.anim.meta
UIRelated.meta
uploads_files_967049_m.controller.meta
UsingFlashlight.anim.meta
Viet boat1 (1).controller.meta
Viet boat1.controller.meta
Villa1_Door_A.controller.meta
Wall_1_Corner_Inner.controller.meta
Well.anim.meta
well.controller.meta
WellPlayer.anim.meta
whiteclown_n_hallin@Start Walking (1) 1.controller.meta
whiteclown_n_hallin@Start Walking (1).controller.meta
whiteclown_n_hallin@Walking.fbx.meta
